---
import Diamond from "../../components/Elements/Diamond.astro";
import SidebarText from "../../components/Elements/SidebarText.astro";
import Hero from "../../components/Hero.astro";
import MainHead from "../../components/MainHead.astro";
import { Content as ProjectsDesc } from "../../content/projects-description.md";
import { Icon } from 'astro-icon'
import DiamondNew from "../../components/Elements/DiamondNew.astro";
import DiamondProject from "../../components/DiamondProject.astro";

const projects = [
	{
		heading: "UNALTERED Services",
		subheading:
			"Collection of microservices including a Masterclass, Review Program, Surveys, and more.",
		path: "/projects/unaltered-services",
		icon: "unaltered",
		photo: "/assets/masterclass.png",
		stack: ["HTML / CSS", "JQuery", "PHP", "MySQL"],
	},
	{
		heading: "UNALTERED Admin",
		subheading:
			"Shopify app dashboard for viewing sales analytics, logging product events, and managing microservices.",
		path: "/projects/unaltered-admin",
		icon: "unaltered",
		photo: "/assets/unaltered_admin_1.png",
		stack: ["React", "Shopify Polaris", "ExpressJS", "MongoDB"],
	},
	{
		heading: "ReviewGet",
		subheading:
			"Web app integrated with Amazon for creating forms to incentivize product feedback.",
		path: "/projects/reviewget",
		icon: "reviewget",
		photo: "/assets/reviewget_1.png",
		stack: ["React", "ChakraUI", "NextJS", "MongoDB"],
	},
	{
		heading: "Koncept Detailing",
		subheading: "Static website for a local car detailing business.",
		path: "/projects/koncept-detailing",
		icon: "koncept_detailing",
		photo: "/assets/koncept_1.png",
		stack: ["React", "Tailwind", "NextJS"],
	},
	{
		heading: "Portfolio",
		subheading: "Personal projects portfolio.",
		path: "/projects/portfolio",
		icon: "cdmvfx",
		photo: "",
		stack: ["Astro", "Tailwind", "React"],
	},
];
---

<html lang="en">
	<head>
		<MainHead />
	</head>
	<body>
		<Hero pageTitle="Projects">
			<div class='text-white' slot='side-content'>
				<ProjectsDesc />
			</div>
			<div slot="main-content" class="xl:hidden w-auto flex flex-col px-4 sm:px-0">
				{
					projects.map((project, index) => (
						<a href={project.path} class={`flex items-center max-w-full justify-between py-4 sm:p-4 ${index !== projects.length - 1 ? "border-b" : ""} border-emerald-700`}>
							<div class="flex gap-2 text-white">
								<div class="flex p-2">
									<div class="bg-[#1c1c1c] outline outline-1 outline-offset-2 outline-emerald-400 p-2 w-[50px] h-[50px] flex items-center rotate-45 scale-75 relative after:content-[''] after:h-[1px] after:w-[200px] after:-rotate-45 after:bg-gradient-to-r from-emerald-400 after:absolute after:-top-[72px] after:left-[22px]">
										<Icon class='invert w-full -rotate-45' name={project.icon} />
									</div>
								</div>
								<div class='flex flex-col gap-2'>
									<div class="text-xl font-thin whitespace-nowrap">{project.heading}</div>
									<div class="text-sm pt-1">{project.subheading}</div>
									<div class="flex flex-wrap text-xs gap-x-4 gap-y-2">{project.stack.map((item, index) => (<div>{item}</div>))}</div>
								</div>
							</div>
							<div class="">
								<Icon name="mdi:chevron-right" class='w-[30px] h-[30px]' />	
							</div>
						</a>
					))
				}
			</div>
			<div slot="main-content" class="hidden xl:flex items-center justify-center w-full h-full">
				<div class="flex">
					{
						projects.map((project, index) => (
							<div class={`relative w-fit h-fit ${index % 2 === 0 && index !== 0 ? "-ml-[190px]" : ""} ${index % 2 !== 0 && index !== 0 ? "-ml-[190px] mt-[210px]" : ""}`}>
								<div class="absolute w-[70%] h-[70%] top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] rotate-45 outline outline-1 outline-emerald-300 outline-offset-2"></div>
								<DiamondProject
									heading={project.heading}
									subheading={project.subheading}
									tags={project.stack}
									photo={project.photo}
									icon={project.icon}
									path={project.path}
								>
								</DiamondProject>
							</div>
						))
					}
				</div>
			</div>
		</Hero>
	</body>
</html>
