---
import LogoIcon from "./LogoIcon.astro"

type HeaderProps = {
	icon: any
	heading: string
	subheading: string
	size: string
}

const {icon, heading, subheading, size} = Astro.props as HeaderProps

let width;
let headingSize;
let dividerWidth;
let dividerOffset;
let iconWidth;
let iconHeight;
let headingOffset;
let subheadingSize;

switch (size) {
	case "small":
		width = "w-[300px]";
		headingSize = "text-xl";
		dividerWidth = "w-[200px]";
		dividerOffset = "-ml-[17px]";
		iconWidth = "w-[15px]";
		iconHeight = "h-[15px]";
		headingOffset = "mb-[-23px]";
		subheadingSize = "text-xs";
		break;	
	default:
		width = "w-[565px]";
		headingSize = "text-4xl"
		dividerWidth = "w-[400px]";
		dividerOffset = "-ml-4";
		iconWidth = "w-[30px]";
		iconHeight = "h-[30px]";
		headingOffset = "mb-4";
		subheadingSize = "text-md";
		break;	
}

---

<div class={`flex items-center gap-6 ${width} pl-4 relative `}>
	<div
		class={`${iconWidth} ${iconHeight} bg-black rotate-45 z-20 outline outline-1 outline-emerald-200 outline-offset-2`}
	>
		<LogoIcon />
	</div>
	<div class={`${headingOffset} z-20`}>
		<span class={`text-white font-thin ${headingSize} inline-block`}>
			{heading}
		</span>
		<div
			class={`${dividerWidth} ${dividerOffset} h-[1px] bg-gradient-to-r from-emerald-200`}
		>
		</div>
		<span class={`${subheadingSize} inline-block text-white max-w-[200px]`}>
			{subheading}
		</span>
	</div>
</div>